@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Spijkenisse, Nederland<br />
    <abbr title="Phone">P:</abbr>
    06 33952000
</address>

<address>
    <strong>My email:</strong>   <a href="mailto:rickbunte2000@gmail.com">rickbunte2000@gmail.com</a><br />
</address>