@model  IEnumerable<BijlandInternationalApplication.Models.Order>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Dit programma is geschreven met ASP.NET</h1>
    <p class="lead">Een simpel programma wat data van een excel bestand leest en het mogelijk maakt om het als een statisch gegenereerd HTML overzicht van een bestelling.</p>
    <p>Ik heb dit programma geschreven over de tijdspan van 3 dagen in mijn vrije tijd, inclusief verricht onderzoek naar problemen waar ik tegenaan gelopen ben.</p>
    <h2>Kom hier meer over mij te weten:</h2>
    <p><a href="https://rbportefolio.wordpress.com/" class="btn btn-lg" style="background-color:orange; color:whitesmoke">Mijn portfolio&raquo;</a></p>
    <p><a href="https://github.com/RickBunte" class="btn btn-lg" style="background-color:orange; color:whitesmoke">Mijn GitHub&raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Bestellingen</h2>
        <p>Hier is een lijst met bestellingen, elke bestelling heeft een eigen overzicht.</p>
        @foreach(BijlandInternationalApplication.Models.Order order in Model)
        {
        <p>
            @Html.ActionLink("Bestelling " + (order.GetId() + 1).ToString(), "Order", "Home", new { id = order.GetId() }, null)
        </p>
        }
    </div>
</div>